:root {
    
    // COLORS

    --color-white: #ffff;
    --color-black: #000;
    --color-prim: #f5f5f7;

    // FONTS

    --font-general: 'General Sans', sans-serif;
    --font-sat: 'Satoshi', sans-serif;
    --font-mix: 'General Sans', 'Satoshi', sans-serif;

}